* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $basic-family;
}

img {
  vertical-align: top;
}

ul {
  list-style-type: none;
}

li,
a {
  color: inherit;
}
a {
  text-decoration: none;
}
